body{
    margin:4px;
    background: #B6D1EA;

}

#game_table{
    border:1px solid #c5deea;
    border-spacing : 0;
    border-collapse : collapse; 
    background: #c5deea; /* Old browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */

}
#game_table td{
    border:1px solid #c5deea;
    padding:0px;
    background: -moz-linear-gradient(top,  #c5deea 0%, #8abbd7 17%, #066dab 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5deea), color-stop(17%,#8abbd7), color-stop(100%,#066dab)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c5deea 0%,#8abbd7 17%,#066dab 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c5deea 0%,#8abbd7 17%,#066dab 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c5deea 0%,#8abbd7 17%,#066dab 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c5deea 0%,#8abbd7 17%,#066dab 100%); /* W3C */

}

.current_column{
    text-decoration: underline;
}

.current_line td{
    background: -moz-linear-gradient(top,  #8abbd7 0%, #066dab 17%, #033dab 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8abbd7), color-stop(17%,#066dab), color-stop(100%,#033dab)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8abbd7 0%,#066dab 17%,#033dab 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8abbd7 0%,#066dab 17%,#033dab 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8abbd7 0%,#066dab 17%,#033dab 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #8abbd7 0%,#066dab 17%,#033dab 100%) !important; /* W3C */
}

.soluce td{
    background: -moz-linear-gradient(top,  rgba(188,15,0,0.81) 0%, rgba(216,7,0,0.36) 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,15,0,0.81)), color-stop(100%,rgba(216,7,0,0.36))) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(188,15,0,0.81) 0%,rgba(216,7,0,0.36) 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(188,15,0,0.81) 0%,rgba(216,7,0,0.36) 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(188,15,0,0.81) 0%,rgba(216,7,0,0.36) 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  rgba(188,15,0,0.81) 0%,rgba(216,7,0,0.36) 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfbc0f00', endColorstr='#5cd80700',GradientType=0 ) !important; /* IE6-9 */

}

#game_table td div{
    margin:3px 3px 3px 4px;
    width: 25px;
    height: 11px;
    padding: 0 0 15px 0;
        font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color:whitesmoke;
    text-transform: capitalize;
}

#game_table.tablette td div{
    width: 34px;
    height: 21px;
    font-size: 2em;
}

.bad_placement{

    border-radius: 40px;
    background: #f9c667; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9c667 0%, #f79621 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c667), color-stop(100%,#f79621)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9c667 0%,#f79621 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9c667 0%,#f79621 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9c667 0%,#f79621 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9c667 0%,#f79621 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */

}

.good_placement{
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

}
#clavier{
width: 260px;
text-transform: capitalize;
text-align: center;
margin-top: 13px;
display:inline-block;
}
#tableau{
    display:inline-block;
    box-shadow: 1px 1px 12px #555;

}
.touches{
display: inline-block;
border: 1px solid gray;
padding: 7px 0px;
width:45px;
text-align: center;
border-radius: 5px;
background: whitesmoke;
color: black;
cursor: pointer;
box-shadow: 1px 1px 12px #555;
    margin:2px
}

#clavier.tablette .touches {
width: 55px;
height: 30px;
padding: 13px 0 7px 0;
margin: 6px;
font-size: 23px;
}

#clavier.tablette{
    width: 480px;

}

#score{
    margin-top:10px;
}


/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  #version{color:blue}
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  #version{color:red}
}


/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
  #version{color:gray}
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape){
  #version{color:green}
}

